{% extends 'catalog/base.html' %}
{% load product_tags %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Skyfarm.zen - все про зелень</p>
</div>

<div class="col-6 mb-5">
    <a href="{% url 'catalog:blog_create' %}" class="w-30 btn btn-lg btn-primary">Создать</a>
</div>

<div class="row text-center">

    {% for blog in blog_list %}

    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ blog.title }}</h4>
            </div>
            <div class="card-body">
                <img src="{% mediapath_tag blog.preview %}" width="300"/>
                <a href="{% url 'catalog:blog' blog.slug %}"
                   class="w-100 btn btn-lg btn-outline-primary">Читать</a>
                <a href="{% url 'catalog:blog_edit' blog.slug %}"
                   class="w-100 btn btn-lg btn-outline-primary">Поменять</a>
                <a href="{% url 'catalog:blog_delete' blog.slug %}"
                   class="w-100 btn btn-lg btn-outline-warning">Удалить</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
