{% extends 'catalog/base.html' %}
{% load product_tags %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skyfarm</h1>
    <p class="lead">Skyfarm - это отличный выбор для ресторанов, кафе и частных покупателей, желающих в полной мере
        погрузиться в мир качественных продуктов растительного происхождения</p>
</div>

<div class="row text-center">

    {% for product in product_list %}

    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price }}₽</h1>
                <img src="{% mediapath_tag product.image %}" width="300"/>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ product.description|slice:'100' }}</li>
                </ul>
                <a href="{% url 'catalog:product' product.pk %}"
                   class="w-100 btn btn-lg btn-outline-primary">Показать</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
